.logoWrapper{
	position:relative;
	width:100%;
	max-width:250px;
	margin-left:auto;
	margin-right:auto;
}

.logo{
	 width:100%;
	 padding:10px;
}

.controlPanel{
	text-align:center;
}

.playerName, .score, .latestRound, .history{
	text-align: center;
}

.playerName, .score, .latestRound{
	background-color: transparent;
	border-width: 0;
}

.playerName, .score{
	font-weight: bold;
}

.evenPlayer {
	background-color: lightblue;
}

.oddPlayer {
	background-color: lightgreen;
}