td {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
	height: 30px;
	border-style: none;
	text-align:left;
	vertical-align:bottom;
}

table{
    border-collapse: collapse;
	width:100%;
}