.container{
text-align: center;
vertical-align: center;
}

.countText{
	font-size: 15em;
    font-weight: bold;
}

.resetButton, .incrementButton{
	font-size: 3em;
	width: 100%;
	height: 20%;
    border: none;
	height: 100px;
	border-radius: 10px;
	margin-top: 10px;
}

.resetButton{
	color: white;
	background-color: #FF3333;
}

.incrementButton{
	color: white;
	background-color: #3399FF;
}