.container{
text-align: center;
}
.diceFace{
	font-size: 300%;
    font-weight: bold;
	background-color: yellow;
	padding: 20px 30px 10px 30px;
	border-radius: 15px;
	border: solid 1px gray;
	margin: 5px;
	display: inline-block;
}

.diceFaceChanged{
	 background-color: gray;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.diceList{
}

.basicButton, .wideButton{
    background-color: #e7e7e7; /* Gray */ 
    color: black;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	width: 130px;
	margin: 5px;
}

.basicButton:active, .wideButton:active {
  transform: translateY(4px);
}


.wideButton{
    background-color: #008CBA; /* blue */
	color: white;
	width:80%;
	font-size: 36px;
}