[Desktop Entry]
Encoding=UTF-8
Name=Chrome
GenericName=Web Browser
Comment=Browse the Web
Exec=chrome --headless
Icon=chrome.png
Terminal=false
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;
StartupNotify=False